<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menus</div>
                <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" style="width: 2rem"></i></div>
                    Dashboard
                </a>

                <a class="nav-link" href="@Url.Action("Index", "Bins")">
                    <div class="sb-nav-link-icon"><i class="fas fa-trash" style="width: 2rem"></i></div>
                    Bins
                </a>

                <a class="nav-link" href="@Url.Action("Index", "Personnels")">
                    <div class="sb-nav-link-icon"><i class="fas fa-users" style="width: 2rem"></i></div>
                    Personnels
                </a>

                <a class="nav-link" href="@Url.Action("Index", "Locations")">
                    <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt" style="width: 2rem"></i></div>
                    Locations
                </a>
            </div>
        </div>
    </nav>
</div>
