@model IEnumerable<WasteManagement.Models.Locations>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml"; }

<h1 class="mt-4">Bins</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bins</li>
</ol>


<div class="row">

    <div class="p-3">
        <button class="btn btn-primary px-5" data-toggle="modal" data-target="#CommingSoon">Create Bin</button>
    </div>

    <div id="accordion" class="w-100 p-3">
        <div class="card">

            @foreach (var item in Model)
            {
                @Html.Partial("~/Views/Bins/_BinWidgets.cshtml", item)
            }
            
        </div>
    </div>
</div>

<div class="modal fade" id="CommingSoon" tabindex="-1" role="dialog" aria-labelledby="DeletePersonnelModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Comming Soon</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">COMMING SOON!!!</h3>
                <p class="text-center">This feature is not working yet</p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

@*Bar Chart*@
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Bar Chart Example
    var ctx = document.getElementById("myBarChart");
    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                "Burnham Park"
            ],
            datasets: [
                {
                    label: "Biodegradable Waste",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: [42],
                },
                {
                    label: "Hazardous waste",
                    backgroundColor: "rgba(139, 91, 201)",
                    borderColor: "rgba(139, 91, 201)",
                    data: [25],
                },
                {
                    label: "Recycable waste",
                    backgroundColor: "rgba(90, 184, 196)",
                    borderColor: "rgba(90, 184, 196)",
                    data: [12],
                },
                {
                    label: "General Waste",
                    backgroundColor: "rgba(235, 155, 52)",
                    borderColor: "rgba(235, 155, 52)",
                    data: [45],
                }],
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    time: {
                        unit: 'month'
                    },
                    gridLines: {
                        display: true
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 100,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        display: true
                    }
                }],
            },
            legend: {
                display: true
            }
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>















