
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1 class="mt-4">Personnels</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personnels</li>
</ol>

<div class="row">

    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex jus">
                    <span class="d-inline-block">
                        <i class="fas fa-table mr-1"></i>Lists Of Personnels
                    </span>
                    <button class="btn btn-primary ml-auto" style="padding: 0.2rem;width: 5rem"
                            data-toggle="modal" data-target="#AddPersonnelModal">Add</button>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td style="line-height:2rem">Tiger Nixon</td>
                                <td style="line-height:2rem">System Architect</td>
                                <td style="line-height:2rem">Edinburgh</td>
                                <td>
                                    <button class="btn  btn-info" style="padding: 0.2rem;width: 5rem">Update</button>
                                    <button class="btn btn-danger" style="padding: 0.2rem;width: 5rem">Delete</button>
                                </td>
                            </tr>*@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @*Add Personnel Modal*@
    <div class="modal fade" id="AddPersonnelModal" tabindex="-1" role="dialog" aria-labelledby="AddPersonnelModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle">Add Personnel</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate action="@Url.Action("Index", "Dashboard")">
                        <div class="form-group">
                            <label for="validationCustom01">First name</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                            <div class="invalid-feedback">
                                Please enter first name.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="validationCustom02">Last name</label>
                            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" required>
                            <div class="invalid-feedback">
                                Please enter last name.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="validationCustomUsername">Contact Number</label>
                            <div class="input-group">

                                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Contact Number" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please enter contact number
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Assigned Location</label>
                            <select class="form-control" id="exampleFormControlSelect1" required>
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select location
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block px-5 my-4" type="submit">Submit</button>
                    </form>

                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
