@model WasteManagement.Models.PersonnelsIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1 class="mt-4">Personnels</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personnels</li>
</ol>

<div class="row">

    @Html.Partial("~/Views/Personnels/_PersonnelsTable.cshtml", Model.Personnels)
    @Html.Partial("~/Views/Personnels/_AddPersonnelModal.cshtml", Model.Personnel)
    @Html.Partial("~/Views/Personnels/_UpdatePersonnelModal.cshtml", Model.Personnel)
    @Html.Partial("~/Views/Personnels/_DeletePersonnelModal.cshtml", Model.Personnel)

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script>
    function updatedata(str) {
        const arr = str.split("_");

        document.getElementById("updatePersonnelId").value = document.getElementById("pi_" + arr[1]).innerText;
        document.getElementById("updateFirstName").value = document.getElementById("fn_" + arr[1]).innerText;
        document.getElementById("updateLastName").value = document.getElementById("ln_" + arr[1]).innerText;
        document.getElementById("updateContactNumber").value = document.getElementById("cn_" + arr[1]).innerText;

        $('#UpdatePersonnelModal').modal('show');
    }

    function deletedata(str) {
        const arr = str.split("_");

        document.getElementById("deletePersonnelId").value = arr[1];
        document.getElementById("deleteFirstName").innerText = document.getElementById("fn_" + arr[1]).innerText;
        document.getElementById("deleteLastName").innerText = document.getElementById("ln_" + arr[1]).innerText;
        document.getElementById("deleteContactNumber").innerText = document.getElementById("cn_" + arr[1]).innerText;

        $('#DeletePersonnelModal').modal('show');
    }
</script>
