
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>

<p class="text-body col-md-8" style="text-align:justify">The team came up with the idea of <b>TRASURA</b>, a combination of the word <b>TRACKING-BASURA</b>; it is an Intelligent Basura Management Tracking System that has an automatic tracker and monitoring solid waste to ensure the cleanliness of the city and maximizing the efficiency of garbage disposal.</p>
<p class="text-body col-md-8" style="text-align:justify"> A Trasura Smart Bin will be composed of four bins, each bin has specific use as follows, biodegradable, non-biodegradable, plastic bottles, and contaminated wastes.</p>
<p class="text-body col-md-8" style="text-align:justify"> Each smart bin can monitor the capacity level, solar-powered, and has an automatic lid lock mechanism.</p>
<p class="text-body col-md-8" style="text-align:justify">The project aims to be implemented in popular public parks, and the smart bins will also be placed in strategic positions to ensure easy monitoring of the smart bins and stakeholders’ actions. </p>

<p class="text-body col-md-8" style="text-align:justify">The solution that the researchers propose is a method in which the waste management will make use of trackers that notify the admin and the person-in-charge, specifically the garbage collector.<br />To monitor the level of the garbage, the researcher will use ultrasonic sensors that will track the volume of every trash bin to know if it has already reached its maximum capacity.</p>
<p class="text-body col-md-8" style="text-align:justify">This will help decrease the current inefficiency of solid waste management.</p>
<p class="text-body col-md-8" style="text-align:justify">The unique features of TRASURA are the integration of an automatic lid to lock the trash bin once it is fully filled, and the data access through a web application that will automatically send automated text messages when a smart bin has reached full capacity to the assigned garbage collector in the area, the web-app will have a database of all information about each smart bin and record history that is accessible to the admin.</p>
<p class="text-body col-md-8" style="text-align:justify">The study aims to contribute to the goal of making cities and human settlements more inclusive, safe, resilient, and sustainable.</p>
<p class="text-body col-md-8" style="text-align:justify">Furthermore, it will be cost-effective in the long run for the reasons that it lessens unnecessary transport expenses of garbage collection, and it removes the burden from garbage collectors to manually check huge public areas of tourist spots for overflowing bins.<br />This project will also help in improving the sanitation of public places. In doing so, we avoid unsightliness and avoid thriving organisms in the garbage to reach passersby.</p>
<p class="text-body col-md-8" style="text-align:justify">The target users of this proposal will be the Solid Waste Management office of the City of Baguio, and the garbage collectors from public parks, which will benefit stakeholders from the city.</p>




@section scripts{


    
}

